<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detailed Notes</title>
</head>
<body>
<h1>Detailed View - Notes</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Finish Date</th>
        <th>Username</th>
        <th>Roles</th>
        <th>Statuses</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="note : ${notes}">
        <td th:text="${note.id}"></td>
        <td th:text="${note.title}"></td>
        <td th:text="${note.description}"></td>
        <td th:text="${note.finishDate}"></td>
        <td th:text="${note.user.username}"></td>
        <td>
            <ul>
                <li th:each="role : ${note.user.roleSet}" th:text="${role.name}"></li>
            </ul>
        </td>
        <td>
            <ul>
                <li th:each="status : ${note.statusSet}" th:text="${status.name}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/admin/menu}">Back to Menu</a>
</body>
</html>
