<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detailed Users</title>
</head>
<body>
<h1>Detailed View - Users</h1>
<table border="1">
    <thead>
    <tr>
        <th>ID</th>
        <th>Username</th>
        <th>Password</th>
        <th>Email</th>
        <th>Roles</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.password}"></td>
        <td th:text="${user.email}"></td>
        <td>
            <ul>
                <li th:each="role : ${user.roleSet}" th:text="${role.name}"></li>
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{/admin/menu}">Back to Menu</a>
</body>
</html>
